{{> head }}

{{> navbar }}
    <div class="container-fluid">
        <div class="row">

            <div class="col-8">
                <h1>Nosotros</h1>
                <p>
                    Es una seccion de prueba
                </p>
            </div>

            <div class="col-4">
                <img src="assets/img/tapiz1.jpg" alt="" class="img-thumbnail">
            </div>

        </div>
    </div>

{{> footer }}